/*GENERALES*/
h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: bold;
}

/*body*/

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}