%imgrepeat {
    border-radius: 10px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    width: 700px;
    height: 700px;
    box-shadow: 0 3px 6px black;
}

%flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%nav-enlaces {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}