$colores:(
    color-primario: rgb(241, 137, 0), 
    color-hedfooter: black,
    color-varios: white,
    color-sombra: black,
);

$tamanios:(
    pixeles-footer: 16px,
    pixeles-tablet: 15px,
    pixeles-mobile: 13px,
    pixeles-img: 350px,
    margin-top: 7%,
);