@use 'sass:map';
@use '../utilities/maps';
@use '../Utilities/extends';

/*local*/
.local {
    margin-top: map.get(maps.$tamanios, margin-top);
    display: flex;
    flex-direction: row-reverse;

    .direccion {
        margin-top: map.get(maps.$tamanios, margin-top);
        font-size: 130%;
        margin-left: 10%;
        width: 100%;
        @extend %flex-center;

        .compra {
            text-decoration-line: underline;
            color: rgba(2, 55, 99, 0.527);
            font-size: map.get(maps.$tamanios, pixeles-footer);
        }
    }

    .vidriera {
        .imgrepeat {
            @extend %imgrepeat;
        }
    }

    .localtablet {
        display: none;
    }
}